<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarchart" aria-expanded="false" aria-controls="navbarchart">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <div id="navbarchart" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Time Range<span class="caret"></span></button>
                       <ul class="dropdown-menu">
                           <div class="row">
        <form class="form-group"; onsubmit="MinDate(); return false" >
            <div class="form-group">
                <div class='input-group date'>
                    <input type='datetime-local' class="form-control" id='datetimepicker'/>
                    <input type="submit" style="position: absolute; left: -9999px" />
                </div>
            </div>
        </form>
        
    </div>
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                       </ul>
                 </div>
                </li>
                
            </ul>
            
        </div>
    </div>
</nav>
<script>
var socket = io();
 function MinDate() {
                socket.emit('mindate', $('#datetimepicker').val());
            };

 </script>