<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SCADA Test</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/mystyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    {{> nav}}

    {{{body}}}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    
    <!--script src="/socket.io/js/socket.io.js"></script-->
    <!--script>
       /* var socket = io();
        socket.on('var1', function (msg) {
        $('#var1').val(msg);
        });
        socket.on('var2', function (msg) {
            $('#var2').val(msg);
        });
        socket.on('var3', function (msg) {
            $('#var3').val(msg);
        });
        socket.on('var4', function (msg) {
            $('#var4').val(msg);
        });
        socket.on('var5', function (msg) {
            $('#var5').val(msg);
        });
        socket.on('var6', function (msg) {
            $('#var6').val(msg);
        });
        socket.on('var7', function (msg) {
            $('#var7').val(msg);
        });
        socket.on('var8', function (msg) {
            $('#var8').val(msg);
        });
        socket.on('var9', function (msg) {
            $('#var9').val(msg);
        });
        socket.on('var10', function (msg) {
            $('#var10').val(msg);
        });
        socket.on('var11', function (msg) {
            $('#var11').val(msg);
        });
        socket.on('var12', function (msg) {
            $('#var12').val(msg);
        });*/
    </script-->

</body>
</html>