
<div class="container">
    {{> navchart}}
     
    
    <canvas id="myChart"></canvas>

</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../js/chart.bundle.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
        var socket = io();
        var dps = [12, 19, 3, 5, 2, 3];
        var dps2 = [12, 19, 3, 5, 2, 3];
        var time = [12, 19, 3, 5, 2, 3];
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                //labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                labels:time,
                data: dps,
                label: 'Rezervor 1',
                datasets: [
                           {
                            label: "Rezervor1",
                            fill: false,
                            lineTension: 0.5,
                            backgroundColor: "rgba(75,192,192,0.4)",
                            borderColor: "rgba(75,192,192,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: dps,
                            spanGaps: false,
                            tooltip: {enabled: false},
                           },
                {
                label: "Rezervor2",
                fill: false,
                lineTension: 0.5,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: dps2,
                spanGaps: false,
                
            }
                          ]
                
            },
            options: {
                responsive: true,
                animation: { duration: 50 },
                fill: true,
                tooltips: { mode: 'index', intersect: false },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
      
     

        socket.on('data', function (msg) {
            var x = msg;
            var i;
            for (i=0; i<msg.length; i++)
            {
                dps[i] = msg[i].val1;
                time[i] = msg[i].time.replace('T', ' ').substr(0, 19);
            }
            myChart.update();
        });
      
        socket.on('chartrealtime', function (msg) {
            var x = msg;
            var i;
           
            for (i = 0; i <dps.length-1; i++) {
                dps[i] = dps[i + 1];
                dps2[i] = dps2[i + 1];
                time[i] = time[i + 1];
            }
            dps[dps.length-1] = msg.val / 10;
            dps2[dps.length-1] = (msg.val / 10) - 0.5;
            time[dps.length-1] = msg.time;

            myChart.update();
        });

       
       
            socket.emit('getdatta');
           
       socket.on('charthistoricdata', function (msg) {
            var x = msg;
            var i;
            dps=[];
            time=[];
            myChart.destroy();
            for (i=0; i<msg.length; i++)
            {
                dps[i] = msg[i].val1;
                time[i] = msg[i].time.replace('T', ' ').substr(0, 19);
            }
            myChart=new Chart(ctx, {
            type: 'line',
            data: {
                //labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                labels:time,
                data: dps,
                label: 'Rezervor 1',
                datasets: [
                           {
                            label: "Rezervor1",
                            fill: false,
                            lineTension: 0.5,
                            backgroundColor: "rgba(75,192,192,0.4)",
                            borderColor: "rgba(75,192,192,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: dps,
                            spanGaps: false,
                            tooltip: {enabled: false},
                           },
                {
                label: "Rezervor2",
                fill: false,
                lineTension: 0.5,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: dps2,
                spanGaps: false,
                
            }
                          ]
                
            },
            options: {
                responsive: true,
                animation: { duration: 50 },
                fill: true,
                tooltips: { mode: 'index', intersect: false },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
          
            
        });     
        
     
</script>